<div class="benefitsForm">
  <form [formGroup]="benefitsForm">
    <!-- Frage zum Leistungsbezug -->
    <p>Bezieht die zu versichernde Person Leistungen der Invaliden-, Militär oder Unfallversicherung, einer Pensionskasse oder sind Anträge dazu gestellt?</p>
    <mat-radio-group formControlName="selected" aria-label="Select an option" name="radiobutton">
      <mat-radio-button value="yes">Ja</mat-radio-button>
      <mat-radio-button value="no">Nein</mat-radio-button>
    </mat-radio-group>

    <!-- Upload-Bereich, wenn "Ja" ausgewählt wurde -->
    <div *ngIf="benefitsForm.get('selected')?.value === 'yes'">
      <p>Laden Sie das entsprechende Dokument hoch</p>
      <label for="file-upload" class="upload-label">
        <input type="file" id="file-upload" name="Benefits" class="upload-input">
        Datei auswählen
      </label>
    </div>
  </form>
</div>