<div class="sideJob-form">
    
  <p>Haben Sie eine Nebenbeschäftigung?</p>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Ja</mat-radio-button>
            <mat-radio-button value="2">Nein</mat-radio-button>
          </mat-radio-group>
          
  <form>
      <div class="first-row mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
        <mat-form-field appearance="outline">
          <mat-label>Welche?</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>

      </div>
    </form>
</div>