<div class="sideJob-form" [formGroup]="sideJobForm">
  <p>Haben Sie eine Nebenbeschäftigung?</p>
  <mat-radio-group formControlName="selected" name="sideJobRadio" aria-label="Select an option">
    <mat-radio-button value="yes">Ja</mat-radio-button>
    <mat-radio-button value="no">Nein</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="sideJobForm.get('selected')?.value === 'yes'" class="first-row">
    <mat-form-field appearance="outline">
      <mat-label>Welche?</mat-label>
      <input matInput formControlName="jobType">
    </mat-form-field>
  </div>
</div>