<div class="abilityToWorkForm">
  <form [formGroup]="abilityToWorkForm">
    <p>Ist die versicherte Person voll arbeitsfähig?</p>
    <mat-radio-group formControlName="selected" aria-label="Select an option" name="selectedRadio">
      <mat-radio-button value="yes">Ja</mat-radio-button>
      <mat-radio-button value="no">Nein</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="abilityToWorkForm.get('selected')?.value === 'no'">
      <label for="file-upload" class="upload-label">
        <input type="file" id="file-upload" name="AUBescheinigung" class="upload-input">
        Datei auswählen
      </label>
    </div>
  </form>
</div>