.custom-button {
    background-color: rgb(0, 37, 77);
    color: white;
    float: right;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  mat-label {
    font-family: "Calibri";
    font-size: 12;
  }