<div class="agencyForm">
  <h2>Agentur</h2>
  <form [formGroup]="agencyForm">
    <div class="first-row">
      <mat-form-field appearance="outline" class="input-field small-field">
        <mat-label>Funktion</mat-label>
        <mat-select formControlName="selectedAgency" (selectionChange)="onFunctionChange($event.value)">
          <mat-option *ngFor="let function of functions" [value]="function.name"> 
            {{ function.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field small-field">
        <mat-label>Eintritt</mat-label>
        <input matInput formControlName="entryDate">
      </mat-form-field> 

      <mat-form-field appearance="outline" class="input-field small-field">
        <mat-label>Anstellung in %</mat-label>
        <input matInput formControlName="employmentPercentage">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field small-field">
        <mat-label>Agentur Dropdown</mat-label>
        <mat-select formControlName="selectedAgency" (selectionChange)="onAgencyChange($event.value)">
          <mat-option *ngFor="let agency of agencies" [value]="agency.name"> 
            {{ agency.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="second-row">
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Adresse" [value]="selectedAgency?.address" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field small-field">
        <mat-label>PLZ</mat-label>
        <input matInput [value]="selectedAgency?.zip" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Ort</mat-label>
        <input matInput [value]="selectedAgency?.city" readonly>
      </mat-form-field>        
    </div>
  </form>
</div>