<div class="child-form">
    <form>
      <div>
        <h2>Agentur</h2>
      </div>
      
      <div class="first-row mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
        <mat-form-field appearance="outline">
          <mat-label>Funktion</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Eintritt</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field> 
        
        <mat-form-field appearance="outline">
          <mat-label>Anstellung in %</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label> Agentur Dropdown</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>

      <div class="second-row">
        <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>PLZ</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ort</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>        
      </div>
      </form>
</div>