
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 37, 77);
}

mat-form-field {
  margin-right: 40px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

