<div class="child-form">
  <p>Haben Sie Kinder?</p>
  <mat-radio-group [(ngModel)]="selectedChild" aria-label="Select an option">
    <mat-radio-button value="yes">Ja</mat-radio-button>
    <mat-radio-button value="no">Nein</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="selectedChild === 'yes'">
    <button (click)="increment()">+</button>
    <span>{{childCount}}</span>
    <button (click)="decrement()">-</button>
  </div>

  <form [formGroup]="childForm" *ngIf="selectedChild === 'yes'">
    <div formArrayName="children" *ngFor="let child of children.controls; index as i">
      <div [formGroupName]="i">
        <h2>Angaben Kind {{i + 1}}</h2>
        <div class="first-row">
          <mat-form-field appearance="outline" class="input-field middle-field">
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field middle-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field middle-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="second-row">
          <mat-form-field appearance="outline" class="input-field middle-field">
            <mat-label>Ausbildungsstätte</mat-label>
            <input matInput formControlName="school">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field middle-field">
            <mat-label>Ausbildungsdauer</mat-label>
            <input matInput formControlName="duration">
          </mat-form-field>

          <p class="input-field middle-field">FileUpload Geburtsschein</p>
        </div>
      </div>
    </div>
  </form>
</div>