<div class="personal-information">
  <form [formGroup]="personalInformationForm">
    <h2>Persönliche Angaben</h2>

    <!-- Geschlecht wählen -->
    <mat-radio-group formControlName="gender" aria-label="Select an option">
      <mat-radio-button value="male">Mann</mat-radio-button>
      <mat-radio-button value="female">Frau</mat-radio-button>
    </mat-radio-group>

    <div class="first-row">

      <!-- Vorname -->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="personalInformationForm.get('firstName')?.invalid && personalInformationForm.get('firstName')?.touched">
          {{ validationService.getRequiredErrorMessage('Vorname') }}
        </mat-error>
      </mat-form-field>

      <!-- Name -->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="personalInformationForm.get('lastName')?.invalid && personalInformationForm.get('lastName')?.touched">
          {{ validationService.getRequiredErrorMessage('Name') }}
        </mat-error>
      </mat-form-field>

      <!-- Geburtsdatum -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Geburtsdatum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="personalInformationForm.get('birthDate')?.invalid && personalInformationForm.get('birthDate')?.touched">
          {{ validationService.getRequiredErrorMessage('Geburtsdatum') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="second-row">
      <!-- Adresse -->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="personalInformationForm.get('address')?.invalid && personalInformationForm.get('address')?.touched">
          {{ validationService.getRequiredErrorMessage('Adresse') }}
        </mat-error>
      </mat-form-field>

      <!-- Postleitzahl -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>PLZ</mat-label>
        <input matInput formControlName="zipCode">
        <mat-error *ngIf="personalInformationForm.get('zipCode')?.invalid && personalInformationForm.get('zipCode')?.touched">
          {{ validationService.getInvalidZipCodeErrorMessage('PLZ') }}
        </mat-error>
      </mat-form-field>

      <!-- Ort -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Ort</mat-label>
        <input matInput formControlName="location">
        <mat-error *ngIf="personalInformationForm.get('location')?.invalid && personalInformationForm.get('location')?.touched">
          {{ validationService.getRequiredErrorMessage('Ort') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="third-row">
      <!-- Zivilstand -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Zivilstand</mat-label>
        <mat-select formControlName="civilStatus">
          <mat-option *ngFor="let civilstatus of civilstatus" [value]="civilstatus.value">
            {{civilstatus.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personalInformationForm.get('civilStatus')?.invalid && personalInformationForm.get('civilStatus')?.touched">
          {{ validationService.getRequiredErrorMessage('Zivilstand') }}
        </mat-error>
      </mat-form-field>

      <!-- Nationalität -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Nationalität</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personalInformationForm.get('nationality')?.invalid && personalInformationForm.get('nationality')?.touched">
          {{ validationService.getRequiredErrorMessage('Nationalität') }}
        </mat-error>
      </mat-form-field>

      <!-- Konfession -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Konfession</mat-label>
        <mat-select formControlName="religion">
          <mat-option *ngFor="let religion of religions" [value]="religion.value">
            {{religion.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personalInformationForm.get('religion')?.invalid && personalInformationForm.get('religion')?.touched">
          {{ validationService.getRequiredErrorMessage('Konfession') }}
        </mat-error>
      </mat-form-field>

      <!-- Heimartort -->
      <mat-form-field appearance="outline" class="input-field middle-field">
        <mat-label>Heimatort</mat-label>
        <input matInput formControlName="homeTown">
        <mat-error *ngIf="personalInformationForm.get('homeTown')?.invalid && personalInformationForm.get('homeTown')?.touched">
          {{ validationService.getRequiredErrorMessage('Heimatort') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Telefonnummer -->
    <div class="fourth-row">
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Tel.</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="personalInformationForm.get('phone')?.invalid && personalInformationForm.get('phone')?.touched">
          {{ validationService.getInvalidPhoneNumberErrorMessage('Tel.') }}
        </mat-error>
      </mat-form-field>

      <!-- E-Mail -->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="personalInformationForm.get('email')?.hasError('invalidEmail') && personalInformationForm.get('email')?.touched">
          {{ validationService.getInvalidEmailErrorMessage('E-Mail') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="fifth-row">
      <!-- Finma-Nummer optional-->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Finma-Nummer</mat-label>
        <input matInput formControlName="finmaNumber">
      </mat-form-field>

      <!-- Cicero-Nummer optional-->
      <mat-form-field appearance="outline" class="input-field wider-field">
        <mat-label>Cicero-Nummer</mat-label>
        <input matInput formControlName="ciceroNumber">
      </mat-form-field>
      
      <!-- Bewilligung (nur bei ausländischer Nationalität) -->
      <mat-form-field appearance="outline" *ngIf="personalInformationForm.get('nationality')?.value !== 'Schweiz' && personalInformationForm.get('nationality')?.value !== ''" class="input-field wider-field">
        <mat-label>Bewilligung</mat-label>
        <mat-select formControlName="permit">
          <mat-option *ngFor="let permit of permits" [value]="permit.value">
            {{permit.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Frage nach Umzug im letzten Jahr -->
    <p>Sind Sie innerhalb letzten Jahres umgezogen?</p>
    
      <mat-radio-group formControlName="movedLastYear" aria-label="Select an option">
        <mat-radio-button value="yes">Ja</mat-radio-button>
        <mat-radio-button value="no">Nein</mat-radio-button>
      </mat-radio-group>
      
      <!-- Zuzug von -->
      <div class="movedRow">   
        <div *ngIf="personalInformationForm.get('movedLastYear')?.value === 'yes'">
          <mat-form-field appearance="outline" class="input-field wider-field">
            <mat-label>Zuzug von</mat-label>
            <input matInput formControlName="previousAddress">
          </mat-form-field>
          
          <!-- Zuzugsdatum -->
          <mat-form-field appearance="outline" class="input-field wider-field">
            <mat-label>Zuzugsdatum</mat-label>
            <input matInput [matDatepicker]="movedPicker" formControlName="moveDate">
            <mat-datepicker-toggle matSuffix [for]="movedPicker"></mat-datepicker-toggle>
            <mat-datepicker #movedPicker></mat-datepicker>
          </mat-form-field>

          <p>Laden Sie den Betreibungsregisterauszug des vorangeganen Wohnsitzes hoch.</p>
          <label for="file-upload-vorwohnsitz" class="upload-label">
            Datei auswählen
          </label>
          <input type="file" id="file-upload-vorwohnsitz" name="vorangegangenerWohnsitz" class="upload-input" multiple (change)="uploadFiles($event)">
        </div>
      </div>

          <!-- Betreibungsregisterauszug hochladen -->
          <p>Laden Sie den Betreibungsregisterauszug hoch.</p>
          <label for="file-upload-betreibungsregister" class="upload-label">
            Datei auswählen
          </label>
          <input type="file" id="file-upload-betreibungsregister" name="Betreibungsregisterauszug" class="upload-input" multiple (change)="uploadFiles($event)">
    
          <!-- ID oder Ausweis hochladen -->
          <p>Laden Sie Ihre ID oder Ausweis hoch</p>
            <label for="file-upload-id" class="upload-label">
            Datei auswählen
            </label>
          <input type="file" id="file-upload-id" name="ID" class="upload-input"  multiple (change)="uploadFiles($event)">

          <!-- Ansässigkeitsbescheinigung hochladen (nur bei ausländischer Nationalität und Bewilligung G) -->
          <div *ngIf="personalInformationForm.get('permit')?.value === 'G'">
            <p>Laden Sie Ihre Ansässigkeitsbescheinigung hoch</p>
              <label for="file-upload-ansässigkeitsbescheinigung" class="upload-label" >
                Datei auswählen
              </label>
            <input type="file" id="file-upload-ansässigkeitsbescheinigung" name="Ansässigkeitsbescheinigung" class="upload-input" multiple (change)="uploadFiles($event)">
          </div>
  
         <!-- Ehepartner-Formular anzeigen (nur bei Zivilstand 'verheiratet') -->
        <div *ngIf="personalInformationForm.get('civilStatus')?.value ==='verheiratet'">
          <app-spouse-form></app-spouse-form>
        </div>
    </form>
</div>

  